# Ignore heavy AI models
Shared/models/*.gguf
Shared/models/ollama_data/
Shared/models/installed-models.txt
Shared/models/Modelfile*
Shared/.ollama-runtime
Shared/models
Shared/vendor

# Ignore private chat history and local settings
Shared/chat_data/

# Ignore downloaded binaries and runtimes
Shared/python/
Shared/bin/
Shared/*.zip
Shared/logs/

# Ignore Windows system files
Thumbs.db
Desktop.ini
.DS_Store
